<style>
body {
	background: #d83d3d;
}
</style>
<nav class="main-nav">
	<ul>
		<li><a class="signin" href="/login">Sign in</a></li>
		<li><a class="signup" href="/signup">Sign up</a></li>
	</ul>
</nav>
